.contactus {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-family: Calibri;
  margin: 0 100px;
  padding: 5em;
}
/* .whatsapp-icon{
  position: absolute;
  padding-left: 90%;
  padding-top: 37%;
} */
.whatsapp-icon p{
  align-self: right;
}
.title h1 {
  font-size: 50px;
}
.content ul {
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.content ul li {
  margin: 50px 0;
}
.content ul li p {
  color: #5f5f5f;
}
.content ul li a {
  text-decoration: none;
  font-weight: bolder;
  color: #7e066c;
}
.content ul li a:hover {
  color: #1d1292;
}

@media (max-width: 450px) {
  .contactus {
    margin: 0 50px;
  }
  .con-title {
    text-align: center;
  }
}

.con-content p {
  margin: 20px 0;
}

.student-organisers {
  font-size: 25px;
  margin-top: 25px;
}

.student-name {
  font-size: 20px;
}
