.contactus {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-family: Calibri;
  margin: 0 100px;
  padding: 5em;
  /* background-image: url("https://img.freepik.com/free-photo/hydrogen-molecule_642973-18.jpg?w=1380&t=st=1668761763~exp=1668762363~hmac=24849c47be4e041b6d2d548629c1df59a2d1a490a425ccac36d785c0b6bc2f41"); */
}
/* .whatsapp-icon{
  position: absolute;
  padding-left: 90%;
  padding-top: 37%;
} */
.whatsapp-icon p {
  align-self: right;
}
.title h1 {
  font-size: 50px;
}
.content ul {
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.content ul li {
  margin: 50px 0;
}
.content ul li p {
  color: #5f5f5f;
}
.content ul li a {
  text-decoration: none;
  font-weight: bolder;
  color: #7e066c;
}
.content ul li a:hover {
  color: #1d1292;
}

@media (max-width: 450px) {
  .contactus {
    margin: 0 50px;
  }
  .con-title {
    text-align: center;
  }
}

.con-content p {
  margin: 20px 0;
}

.student-organisers {
  font-size: 25px;
  margin-top: 25px;
}

.student-name {
  font-size: 20px;
}
.whatsapp-icon {
  font-size: 50px;
  position: absolute;
  bottom: 20px;
  right: 50px;
  cursor: pointer;
}

.whatsapp-icon img {
  width: 50px;
}

@media (max-width:600px) {
  .contactus{
    padding: 4rem;
    margin: 0;
    position: relative;
  }

  .whatsapp-icon{
    bottom: 0px;
    right: 10px;
  }
}
