/* Main section  */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,700;1,100;1,900&display=swap");

.main {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/Windmill image.jpg");
  background-color: #007904;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  color: #fff;
}

.main-text-container {
  max-width: 75%;
  margin: auto;
  padding-top: 20px;
}

.main-heading {
  /* font-size: clamp(24px, calc(1.5rem + ((1vw - 3px) * 3.5)), 49px); */
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  font-family: var(--font-family);
  padding-top: 1.3em;
  text-transform: uppercase;
  text-align: center;
}

.main-desc {
  margin-top: 1rem;
  font-size: clamp(15px, calc(0.9375rem + ((1vw - 3px) * 0.5)), 18px);
  font-family: "Raleway", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100px;
  text-align: center;
  color: rgb(203, 203, 203);
}
.heading-container {
  padding: 5em;
}
.heading-container p {
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  padding-top: 2.7em;
  padding-left: 3.2em;
  font-size: 75px;
  align-items: center;
  display: none;
}
/* Cards */
.cards-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 100px;
  max-width: 90%;
  margin: auto;
  margin-top: 5rem;
}
.card {
  min-height: 200px;
  width: 170px;
  background-color: #d9d9d9;
  color: #000;
  font-weight: 600;
  font-size: 18px;
  padding: 0 15px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 20px;
}

/* Media queries */

@media (min-width: 500px) and (max-width: 600px) {
  .main-text-container {
    padding-top: 10%;
  }
}
@media (min-width: 600px) and (max-width: 750px) {
  .main {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7) #007904),
      url("../images/Windmill image.jpg") no-repeat;
    background-size: contain;
  }
  .main-text-container {
    padding-top: 15%;
  }
}

@media (min-width: 750px) and (max-width: 1000px) {
  .main-text-container {
    padding-top: 140px;
    min-height: 460px;
  }
  .cards-container {
    margin-top: 4rem;
  }
}

@media (min-width: 1000px) {
  .heading-container {
    padding-left: 1em;
    font-size: 15px;
  }
  .heading-container p {
    /* align-items: center; */
    text-align: center;
    display: block;
  }
  .main-text-container {
    /* max-width: 400px; */
    max-width: 50%;
    padding-top: 100px;
    margin: 0;
    margin-left: 180px;
  }
  .main-heading {
    max-width: 100%;
    text-transform: uppercase;
    text-align: left;
  }
  .main-desc {
    margin-top: 1rem;
    text-align: justify;
  }
  .cards-container {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 200px;
    padding-bottom: 100px;
  }
}

@media (min-width: 1250px) {
  .main {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("../images/Windmill image.jpg");
    background-color: #007904;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
