.header {
  background-color: #00597f;
  opacity: 1;
  /* padding-top: 1%; */
  /* position: fixed; */
}
.icghd-logo{
  width: 70px;
  height: 70px;
  margin-right: 2em;
  /* margin: auto; */
  margin-left: -2em;
  margin-top: 2px;
}
/* .pdeu-logo{
  margin-left: -10em;
} */
.logo-container{
  display: flex;
}
.nav-up {
  display: flex;
  justify-content: flex-end;
  /* gap: 25px; */
  gap: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;

  list-style: none;
}
.nav-main-menu li {
  list-style: none;
}
.nav-main-menu a {
  color: white;
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
}
.nav-up a {
  color: #4e8071;
  text-decoration: none;
}
.navbar {
  min-height: 80px;
  /* position: fixed; */
  /* here we have to adjust the min height */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  gap: 18px;
  margin-right: 5%;
  margin-left: 5%;
}
.navbar .logo img {
  max-width: 58.5%;
  align-self: left;
}
.search {
  display: flex;
  justify-content: right;
}
.nav-main-menu {
  display: flex;
  justify-content: space-between;
  /* gap: 25px; */
  gap: 10px;
  /* padding-bottom: 0; */
  /* margin-right: 6%; */
  z-index: 2;
}
/* .navbar .logo {
  font-size: xx-large;
  color: white;
} */
.navbar .nav-link {
  transition: 0.4s ease;
}
.navbar .upLinks {
  transition: 0.4s ease;
}
.nav-link:hover {
  color: #015c25;
  transition-delay: 0.2s;

  /* transform: scale(1.6); */
}
.upLinks:hover {
  color: #61a691;
  transition-delay: 0.2s;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.hamburger .bar {
  display: block;
  width: 40px;
  border-radius: 15px;
  height: 4px;
  margin: 6px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}
/* @media (max-width: 768px) { */
@media (max-width: 1300px) {
  .navbar {
    margin-right: 0;
    /* margin-left: 10%; */
    margin-left: 0;
    padding: 0 25px;
  }
  .nav-up li {
    /* list-style:none; */
    display: none;
  }
  .hamburger {
    display: block;
  }
  /* .hamburger :hover{
        background-color: #F0CB47;
    } */
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  .nav-main-menu {
    border-top: 3px bold green;
    position: fixed;
    right: -100%;
    top: 70px;
    gap: 0;
    font-size: medium;
    flex-direction: column;
    background-color: #004c5c;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    border-radius: 10px;
    border-bottom: #e3ffe4;
  }
  .dropdown-content a{
    text-align: center;
  }
  .nav-item {
    padding: 25px;

    /* margin: 15px 0;  */
    box-sizing: border-box;
    /* border:1px solid #F0CB47; */
    /* border-radius: 10px; */
    /* border-bottom: 2px white; */
  }
  .nav-main-menu.active {
    right: 0;

    /* font-weight: bold; */
    /* border-color: aliceblue; */
    border-bottom: 1px solid #e9f4ff;
    padding: 10px;
    border: 2px white;
  }
  .nav-main-menu li {
    border-top: 3px bold white;
  }
}
.dropdown {
  /* float: left; */
  overflow: hidden;
  margin-top: 4px;
}
.dropdown .dropbtn {
  font-size: 15px;
  border: none;
  outline: none;
  color: white;
  font-weight: 600;
  margin: 0;
  padding: 0 10px;
  font-family: "Raleway", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar a {
  padding: 0 10px;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(220, 237, 255);
  border-radius: 25px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.down-arrow-icon {
  margin-left: 8px;
  margin-top: -5px;
}

.nav-link {
  padding: 10px 0;
}

.nav-item a {
  font-weight: 600;
}
