.cards {
  /* display: grid; */
  min-height: 175px;
  /* width: 203px; */
  /* background-color: #d9d9d9; */
  /* grid-row: auto; */
}
.empty-cards {
  display: none;
}
.heading {
  font-size: 45px;
  margin-top: 5%;
  /* margin-left: 17%; */
  margin-bottom: 3%;
  color: #34215b;
  text-align: center;
}
.card-container {
  /* display: flex; */
  gap: 30px;
  margin-right: 10%;
  margin-left: 10%;
  /* margin-left: 15%; */
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 5%;
  /* flex-flow: row; */
  flex-wrap: wrap;
  /* flex-direction: column; */
  /* grid-column: 4; */
}
.empty-cards {
  display: none;
  min-height: 175px;
  width: 203px;
}

@media (max-width: 585px) {
  .card-container {
    margin: 2% 3% 2% 3%;
  }
}

@media (min-width: 1400px) and (max-width: 1730px) {
  .heading {
    margin-top: 5%;
    /* margin-left: 17%; */
    margin-bottom: 3%;
  }
  .card-container {
    /* display: flex; */
    gap: 30px;
    margin-right: 15%;
    margin-left: 20%;
    align-items: flex-start;

    /* flex-flow: row; */
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* grid-column: 4; */
  }
  .empty-cards {
    display: block;
    min-height: 175px;
    width: 203px;
  }
}
@media (min-width: 1000px) and (max-width: 1200px) {
  .card-container {
    margin-right: 5%;
    margin-left: 10%;
  }
  .heading {
    /* font-size: xx-large; */
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 3%;
  }
}

@media (max-width: 1000px) {
  .heading {
    margin-left: 0;
    text-align: center;
  }
}

.speaker-img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: top center;
  border-radius: 50%;
}
.cards {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  margin-top: 30px;
}

.speaker-information {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-container {
  position: relative;
}

.img-overlay {
  background-color: black;
  height: 200px;
  width: 200px;
  position: absolute;
  top: 0;
  display: none;
  border-radius: 50%;
  opacity: 0.5;
}

.img-container:hover .img-overlay {
  display: block;
}



@media (max-width: 600px) {
 .speaker-img{
  width: 150px;
  height: 150px;
 }
 .speaker-information{
  margin-left: 30px;
 }
 .speaker-information h1{
  font-size: 25px;
 }
 .speaker-information h2{
  font-size: 20px;
 }
}
  